{
    dns infomaniak {env.INFOMANIAK_API_TOKEN}
}

vaultwarden.schor.me {
    tls {
        propagation_delay 30s
    }

    encode zstd gzip

    reverse_proxy vaultwarden:80 {
        header_up X-Real-IP {remote}
    }
}

pihole.schor.me {
    tls {
        propagation_delay 30s
    }
    
    encode zstd gzip

    reverse_proxy pihole:80
}