vaultwarden.schor.me {
    tls {
        dns infomaniak {env.INFOMANIAK_API_TOKEN}
        resolvers 77.109.128.2 213.144.129.20
    }
    encode zstd gzip

    reverse_proxy vaultwarden:80 {
        header_up X-Real-IP {remote}
    }
}

http://pihole.schor.me:80 {
    encode zstd gzip

    reverse_proxy pihole:80
}